@tailwind base;
@tailwind components;
@tailwind utilities;

video {
  position: absolute;
  top: 0;
  left: 0;
}

.video-wrapper {
  /* Telling our absolute positioned video to
  be relative to this element */
  position: relative;

  width: 100%;
  height: 100vh;

  /* Will not allow the video to overflow the
  container */
  overflow: hidden;

  /* Centering the container's content vertically
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: transparent;
  width: 35%;
  padding: 20px;
}

.nav-links {
  font-family: monospace;
  font-size: 22px;
  letter-spacing: 2.5px;
  font-weight: 400px;
}

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
}
