@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-wrapper video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: transparent;
  width: 35%;
  padding: 20px;
}

.nav-links {
  font-family: monospace;
  font-size: 22px;
  letter-spacing: 2.5px;
  font-weight: 400px;
}

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-end;
}
