@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.projects-container::-webkit-scrollbar {
  display: none;
}

.astronaut {
  position: absolute;
  overflow: hidden;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-wrapper video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: transparent;
  /* width: 35%; */
}

.languages {
  display: flex;
  position: absolute;
}

.languages-header {
  display: flex;
  position: absolute;
  width: 100px;
  height: 50px;
  top: 80px;
  right: 60px;
}

.languages-header input {
  width: 100%;
}

.languages input {
  width: 100%;
  margin: 0;
}

.hello-text {
  font-family: monospace;
  font-size: 22px;
  letter-spacing: 2.5px;
  font-weight: 500px;
  color: white;
}

.message {
  font-family: monospace;
  font-size: 20px;
  letter-spacing: 2.5px;
  font-weight: 500px;
  color: white;
}

.job-info {
  margin-top: 20px;
}

.logo {
  width: 150px;
  height: 150px;
}

.logo-container {
  margin: 20px;
}

.nav-links {
  font-family: monospace;
  font-size: 22px;
  letter-spacing: 2.5px;
  font-weight: 400px;
}

main {
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.contact-links {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  bottom: 15px;
  width: 100%;
  color: white;
}

.contact-links * {
  margin: 5px;
  min-width: 40px;
  min-height: 40px;
}

.header-container {
  display: flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: flex-start;
}

.menu-container {
  display: flex;
  margin: 0;
  padding: 0;
  margin-right: 20px;
}

.motion-intro-container {
  display: flex;
  justify-content: flex-start;
}

.introduction-container {
  position: relative;
  right: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.introduction-container p {
  margin-bottom: 3px;
}

.farewell::after {
  content: '|';
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.warning {
  margin-top: 20px;
  white-space: nowrap;
  font-size: 15px;
  text-decoration: line-through;
}

/* projects CSS */

.projects-page {
  width: 100%;
  display: flex;
  position: absolute;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.navigate-arrows {
  color: white;
  align-self: center;
  min-width: 50px;
  min-height: 50px;
}

.fetch-astronaut {
  position: absolute;
  width: 300px;
  height: 400px;
  z-index: 3;
}

.projects-container {
  display: flex;
  overflow: scroll;
  overflow-y: hidden;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.projects-container h1, .projects-container p {
  color: white;
}

.project-card {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-align: start;
}

/* contact page */

.contact-page {
  width: 100%;
  height: 80vh;
  display: flex;
  position: absolute;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.contact-background {
  z-index: 1;
  position: absolute;
  width: 500px;
  height: 424.05px;
}

.form {
  z-index: 2;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: monospace;
  margin-left: 15px;
}

.form label {
  display: flex;
  align-items: center;
  color: red;
  width: 400px;
  padding: 10px;
  text-align: center;
}


.form label input, .form label textarea {
  color: white;
  background-color: rgba(255, 0, 0, 0.187);
  width: 300px;
  padding: 5px;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 15px;
}

.form label input:focus, .form label textarea:focus {
  outline: 1px solid red;
}

.form label textarea {
  height: 110px;
  resize: none;
  overflow: hidden;
}

.form h2 {
  color: red;
  padding-bottom: 10px;
  font-size: 20px;
}

.form label p {
  width: 100px;
  font-size: 20px;
  padding: 5px;
}

.error-message {
  position: absolute;
  bottom: 22px;
  padding: 0;
  margin: 0;
  font-size: 17px;
  color: red;
}

.submit-btn {
  color: red;
  width: 65px;
  height: 40px;
  font-size: 20px;
  padding-top: 15px;
}

.submit-btn:hover {
  cursor: pointer;
  font-size: 22px;
}

.submit-btn:active {
  cursor: pointer;
  font-size: 24px;
}

@media(max-width: 700px) {
  .project-card {
    width: 80vw;
    scroll-snap-align: start;
    padding: 45px;
  }
}

@media(max-width: 540px) {
  .logo {
    width: 100px;
    height: 100px;
  }

  .nav-links {
    font-size: 15px;
    margin-right: 10px;
    letter-spacing: 1.5px;
  }

  .astronaut {
    flex-direction: column;
  }

  .introduction-container {
    width: 100%;
  }

  .menu-container {
    display: flex;
    width: 250px;
  }

  .message {
    font-size: 17px;
    letter-spacing: 1px;
  }

  .projects-container {
    width: 380px;
    scroll-behavior: smooth;
  }

  .project-card {
    width: 80vw;
    scroll-snap-align: start;
    padding: 17px;
  }

  .project-card img {
    width: 80vw;
  }

  .projects-page {
    height: 70vh;
  }

  .contact-links * {
    margin: 5px 2.5px;
    min-width: 20px;
    min-height: 20px;
  }

  .languages {
    width: 85px;
    bottom: 0;
    left: 0;
  }

  .languages div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form, .contact-background {
    width: 90%;
  }

  .form h2, .form label p {
    white-space: nowrap;
    font-size: 16px;
  }

  .form label {
    width: 350px;
    padding-left: 0;
  }

  .form label input, .form label textarea {
    width: 220px;
  }

  .astronaut-img, .introduction-container {
    width: 350px;
  }

}

@media(min-width: 541px) {
  .logo {
    width: 120px;
    height: 120px;
  }

  .nav-links {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .astronaut {
    flex-direction: column;
  }

  .astronaut-img {
    width: 350px;
  }

  .introduction-container {
    width: 500px;
  }

  .menu-container {
    width: 420px;
  }

  .menu-container p {
    margin: 0;
  }

  .projects-container {
    max-width: 600px;
    width: 600px;
  }

  .project-card {
    width: 90vw;
    max-width: 600px;
  }

  .project-card img {
    width: 80vw;
    object-fit: cover;
    max-width: 600px;
  }

  .projects-container {
    width: 600px;
  }

  .languages-header {
    width: 100px;
  }

  .languages {
    width: 85px;
    bottom: 0;
    left: 0;
  }

  .languages div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media(min-width: 1280px) {
  .logo {
    width: 150px;
    height: 150px;
  }

  .nav-links {
    font-size: 25px;
    letter-spacing: 2.5px;
    margin: 30px;
  }

  .astronaut {
    flex-direction: row;
  }

  .astronaut-img {
    width: 400px;
  }

  .introduction-container {
    width: 500px;
  }

  .menu-container {
    width: 500px;
    margin-left: 20px;
  }

  .contact-page {
    height: 60vh;
  }
}
